#mysignup #logo {
    align-self: center;
    width: 200px;
    margin: 2% 40% 1% 30%;
}
#mysignup .centerbox {
    width: 500px;
    margin: 0 auto;
    text-align: center;
}

#mysignup form p {
    font-size: 12px;
    text-align: center;
}

#mysignup form a {
    color: #1DB954;
}

#mysignup form a:hover {
    text-decoration: none;
    color: #1ED760;
}



#mysignup #fbsignup,#fbsignup2 {
    background-color: #3B5998;
    width: 400px;
    border-color: #3B5998;
}
#mysignup #fbsignup{
    margin: -30px 0 0 0;
    height:50px;
}

#mysignup #fbsignup2 {
    margin: -45px 0 0 0;
}
#mysignup #fbsignup,#fbsignup2:hover {
    background-color: rgb(60, 102, 190);
    border-color: rgb(60, 102, 190);
}

#mysignup form h6 {
    font-size: 17px;
    font-weight: bold;
    font-family: Circular, spotify-circular, Helvetica, Arial, sans-serif;
}

#mysignup form h4 {
    font-size: 10px;
}

#mysignup form h5 {
    font-size: 12px;
    color: gray;
    text-align: left;
    font-family: Circular, spotify-circular, Helvetica, Arial, sans-serif;
}

#mysignup #applesignup {
    color: white;
    width: 400px;
    background-color: black;
    border-color: black;
    margin: 2% 0;
}
#mysignup #applesignup:hover {
    background-color: rgb(42, 42, 42);
    border-color:rgb(42, 42, 42);

}

#mysignup #login {
    margin: -30px 0 0 0%;
    width: 200px;
    position: absolute;
    display: inline;
}

#mysignup #signupnow {
    color: gray;
    width: 400px;
    background-color: transparent;
    border-color: black;
    margin: 10px 0 2% 0;
    height: 50px;
}
#mysignup #signupnow:hover {
    color: white;
    background-color: rgb(80, 79, 79);
    border-color: rgb(80, 79, 79);
  
}

#mysignup #rememberme {
    margin: 0 0 0 2px;
    text-align: left;
    width:150px;
    padding-right:0 ;
    
}

#mysignup label {
    font-size: 16px;
    color: gray;
    padding: 0 5px ;
}

#mysignup #signup{
width:200px;
margin-bottom:20px;
}

#mysignup input[type=number]{

    margin-left:35px;
    height:25px;
    width: 100px;
    margin-right:25px;
    border:none;
}

#mysignup select
{
    border:none;
}

#mysignup form
{
    border:none;
}