
#recent-activity-wrap{
	margin-top: 8px;
	padding: 0;
	box-sizing: border-box;
	font-family:  sans-serif;
}



.notification-wrap .notification-icon{
	position: relative;
	width: 32px;
	height: 32px;
	font-size: 32px;
	margin: 0 auto;
	text-align: center;
	color: white;
}

.notification-wrap .notification-icon .fa-history{
	cursor: pointer;
}

.notification-wrap .dropdown{
	width: 350px;
	height: 350px;
	background: #282828;
	border-radius: 5px;
	box-shadow: 2px 2px 3px rgba(0,0,0,0.125);
	margin: 15px auto 0;
	margin-top: 30px;
	padding: 15px;
	position: absolute;
	right: 40%;
	z-index: 10;
}
.notify-item:hover .notify-info,.notify-time{
	transition: all 0.2s ease 0s;
	color: white;
	font-weight: 500;
}
.notification-wrap .dropdown .notify-item{
	display: flex;
	color: #9b9b9b;
	align-items: center;
	padding: 2px 0;
	border-bottom: 1px solid #3f3f3f;
}

.notification-wrap .dropdown .notify-item:last-child{
	border-bottom: 0px;
}

.notification-wrap .dropdown .notify-item .notify-img{
	margin-right: 15px;
}

.notification-wrap .dropdown .notify-item .notify-info p{
	margin-bottom: 0px;
}


.notification-wrap .dropdown .notify-item .notify-info .notify-time{
	color: #c5c5e6;
	font-size: 10px;
}

 .notification-wrap .dropdown:before{
	content: "";
	position: absolute;
	top: -30px !important;
	left: 95%;
	z-index: 10;
	transform: translateX(-50%);
	border: 15px solid !important;
	border-color: transparent transparent #fff transparent !important;
} 
.notify-img img{
	width: 60px;
}
.notification-wrap .dropdown.active{
	display: block;
}