
#pcpmaindiv{
    padding: 0px;
}
#pcpmaindiv .blue{
    background-color: rgb(80, 155, 245);
    color: white;
    padding: 100px 20px;
    width: 100%;
    text-align: center;
}
@media (max-width:700px){
    #pcpmaindiv .blue{
        text-align: left;
        padding: 10px 10px;
    }
}

#pcpmaindiv .checklist{
    list-style-type: none;
    display: inline;
    padding: 10px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
#pcpmaindiv .checklist::before {
    content: "✓  ";
  }
@media (max-width:700px){
    #pcpmaindiv .checklist{
        display: list-item;
        padding: 0px;
        font-size: 12px;
    }
}

#pcpmaindiv .boldheader{
    font-size: 56px;
    font-family: Arial, Helvetica, sans-serif;
}
@media (max-width:700px){
    #pcpmaindiv .boldheader{
        font-size: 30px;
    }
}

#pcpmaindiv .secondpart{
    height: auto;
    width: 100%;
    text-align: center;
    padding: 100px 10px;
}
@media (max-width:700px){
    #pcpmaindiv .secondpart{
        padding: 40px 10px;
    }
}

#pcpmaindiv .boxdiv{
    text-align: left;
    padding: 20px 20px;
    display: inline-block;
    box-shadow: 0px 0px 5px grey;
    border-radius: 10px;
    width: 600px;
    height: auto;
}
@media screen and (max-width: 700px){
    #pcpmaindiv .boxdiv{
        width: 90%;
    }
}
#pcpsendmailbutton, #pcpcheckcodebutton{
    margin-top: 10px;
    margin-bottom: 10px;
}

