#ppmaindiv body{
    margin: 0px;
}

#ppmaindiv .bluepart{
    height: auto;
    background-color: rgb(80, 155, 245);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    background-size: 450px;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}
@media(min-width: 992px){
    #ppmaindiv .bluepart{
        background-image: url(../../Images/premium_dancer.png);
    }
}
#ppmaindiv .bluecontainer{
    padding-top: 110px;
    padding-bottom: 30px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
    width: 90%;
    text-align: left;
}
@media (max-width:600px){
    #ppmaindiv .bluecontainer{
        padding: 0px 0px;
        margin: auto;
    }
}
@media (min-width: 768px){
    #ppmaindiv .biggerh1{
        font-size: 80px;
    }
}
@media (max-width: 767px){
    #ppmaindiv .biggerh1{
        font-size: 40px;
    }
}
#ppmaindiv .biggerh1{
    line-height: 1.2;
    font-weight: 900;
    max-width: 100%;
    width: auto;
    display: inline-block;
    margin: 0px;
    padding: 0px;
    margin-top: 20px;
}

@media (min-width: 768px){
    #ppmaindiv .biggerh2{
        font-size: 30px;
    }
}
@media (max-width: 767px){
    #ppmaindiv .biggerh2{
        font-size: 24px;
    }
}
#ppmaindiv .biggerh2{
    line-height: 1.5;
    width: 100%;
    max-width: 100%;
    display: inline-block;
    font-weight: 600;
    padding: 0px;
}

#ppmaindiv .secondpart{
    padding-top: 50px;
    padding-bottom: 50px;
    height: auto;
    text-align: center;
    width: 100%;
}
#ppmaindiv .benefitimage{
    width: 142px;
    height:142px;
}

#ppmaindiv .imagesdiv{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    text-align: center;
    justify-content: space-around;
}

#ppmaindiv .imagediv{
    padding: 50px 50px;
    width: 20%;
    box-sizing: border-box;
}

@media screen and (max-width:1200px){
    #ppmaindiv .imagediv{
        width: 40%;
    }
}
@media screen and (max-width:600px){
    #ppmaindiv .imagediv{
        width: 90%;
    }
    
}

#ppmaindiv .imageh2{
    font-size: 30px;
}



@media (min-width: 768px){
    #ppmaindiv .smallerh1{
        font-size: 40px;
    }
}
@media (max-width: 767px){
    #ppmaindiv .smallerh1{
        font-size: 32px;
    }
}
#ppmaindiv .smallerh1{
        color: black;
        line-height: 1.2;
        font-weight: 900;
        max-width: 100%;
        width: auto;
        display: inline-block;
        margin: 0px;
        padding: 0px;
}

#ppmaindiv button{
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transition-duration: 33ms;
    transition-property: background-color, border-color, color, box-shadow, filter, transform;
    user-select: none;
    vertical-align: middle;
    transform: translate3d(0px, 0px, 0px);
    background-color: rgb(29, 185, 84);
    color: rgb(255, 255, 255);
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    border-radius: 500px;
    padding: 17px 48px;
    margin: 40px 0px;
}
#ppmaindiv button:hover{
    transform: scale(1.05) perspective(1px);
    background-color: rgb(38, 218, 98);
}
#ppmaindiv a{
    color: white;
}
#ppmaindiv p{
    font-size: 12px;
    padding-bottom: 1rem;
    padding-top: 1rem;
}
#ppmaindiv ul{
    padding-left: 10px;
}

#ppmaindiv li{
    list-style-type: '✓';
    text-indent: 10px;
    font-size: 16px;
    content: "✓";
    font-weight: 700;
    color: rgb(0, 0, 0);
    padding: 0px 10px 0px 0px;
}
@media screen and (max-width:600px){
    #ppmaindiv .li{
        font-size: 20px;
    }
}

#ppmaindiv h3{
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 5px;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
}
@media screen and (max-width:600px){
    #ppmaindiv .h3{
        font-size: 30px;
    }
}

#ppmaindiv h4{
    font-size: 32px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
@media screen and (max-width:600px){
    #ppmaindiv .h4{
        font-size: 40px;
    }
}

#ppmaindiv .thirdpart{
    padding: 80px 10px;
    text-align: center;
    width: 100%;
    height: auto;
}
@media(max-width:600px){
    #ppmaindiv .thirdpart{
        padding: 0px
    }
}

#ppmaindiv .boxdiv{
    text-align: left;
    padding: 10px 20px;
    display: inline-block;
    box-shadow: 0px 0px 5px grey;
    border-radius: 10px;
    width: 650px;
    height: auto;
}

@media screen and (max-width: 720px){
    #ppmaindiv .boxdiv{
        width: 90%;
    }
}

@media (max-width:600px){
    #ppmaindiv .firstbutton{
        width: 90%;
        margin: 10px 0px;
    }
}
#ppmaindiv  .offerbutton{
    width: 100%;
    margin: 20px 0px;
}
#ppmaindiv .offerbutton:hover{
    transform: scale(1.015) perspective(1px);
    background-color: rgb(38, 218, 98);
}
#ppmaindiv .greyp{
    color: grey;
}
@media screen and (max-width:600px){
    #ppmaindiv .greyp{
        font-size: 15px;
    }
}