#my-password-reset {
    text-align:center;
    margin-right:10%;
    margin-left:10%;
}

#my-password-reset h6{
   font-size:17px;
   margin-top:20px;
   font-family: Circular, Helvetica, Arial, sans-serif, IosFix;
}
#my-password-reset a{
    color: #1DB954
}

#my-password-reset a:hover{
    color: #1ED760
}
#my-password-reset h1 {
    font-family: Circular, Helvetica, Arial, sans-serif, IosFix;
    
    margin-top:150px;
}

#my-password-reset h2 {
    font-family: Circular, Helvetica, Arial, sans-serif, IosFix;
    font-size: 45px;;
    margin-top:120px;
    margin-bottom:30px;
}
#my-password-reset p{
    font-family: Helvetica, Arial, sans-serif, IosFix;
    margin: 8px auto 30px auto;
    font-weight:lighter;
    text-align:center;
}
#my-password-reset input {
    width:300px;
    margin: 5px auto 30px auto;
}
#my-password-reset label {
    font-family: Circular, Helvetica, Arial, sans-serif, IosFix;
    margin: 0 auto 0 -180px;
}

#my-password-reset .error-message{
    color:red;
    text-align:center;
    margin: -10px 0 15px 0px;
}