/*Styles*/
.artist-body{
    background-image: linear-gradient(#212c39, #121e3d 50%, #000); 
    background-repeat: no-repeat;
}
.artist-body .full-page{
    display: flex;
    flex-direction: row;
    background: #222326;
    height: auto;
    padding: 0;
}
.artist-body form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50% !important;
}
.artist-body .btn-primary-outline{
    color: black;
    background-color: rgb(36, 240, 36) !important;
    border-radius: 30px;
}
.artist-body .btn-primary-outline:hover{
    color: #FFF;
    background-color: rgb(76, 151, 76) !important;
}
.artist-body .albums-section{
    width: 100%;
}
.artist-body .section-title{
    margin-top: 30px;
}
.artist-body .add-album{
    margin:25px;
    padding: 14px 42px;
    border-radius: 100px;
    color: white;
    border: 0;
}
.artist-body .add-album:hover{
    transform: scale(1.1);
}
.artist-body .header-button-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

