#main-section {
    background: linear-gradient(#F037A5 -60%, #FAE62D 140%);
    width: 100%;
    height:calc( 800px + 10vw);
    overflow-x: hidden;
    overflow-y: hidden;
};
#main-section .bgimg{
    background: url(/i/home/hero-burst.svg) no-repeat;
}

#main-section h1{
    margin-top: calc( 170px + 2vw);
    color:white;
    margin:5;
    padding:10;
    font-size: calc( 20px + 4vw);
    text-align:center;
}

#main-section h4{
    color:white;
    text-align:center;;
    font-size: calc( 15px + 0.3vw);
}

#main-section button{
    text-align:center;
    margin-top: 30px;
}
#main-section Link{
    width:100% ;
    text-align: center;
}
#main-section .container{
text-align: center;
}