.playlist-items-wrapper {
    overflow: auto;
    display: flex;
    height: 300px;
    margin: 10px;
  }
  .playlist-items-wrapper .playlist-item-wrapper{
    display: flex;
    height: fit-content;
    position: relative;
    margin: 10px;
    width: fit-content;
  }

  /* .playlist-icon-wrapper {
    color: transparent;
    cursor: pointer;
    text-transform: uppercase;
    outline: none !important;
  } */
  /* .playlist-index-img-background:hover .playlist-icon-wrapper{
    color : white;
    transition: 1s;
    transition: all 0.2s ease 0s;

  } */
  
  .playlist-img-text-wrapper{
    display: block;
    padding: 0.5em;
    flex-direction: row;
    justify-content: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    align-items: center;
    height: fit-content;
    text-align: center;
  }
 
  .playlist-index-img-background:hover img{
    transition:1s;
    filter: brightness(20%);
  }

  .playlist-img-text-wrapper #playlist-title{
   color:  white;
   font-weight: 800;

  }
  .playlist-index-img-background img{
    max-width: 200px;
    max-height: 200px;
  }