#features-nav{
    text-align: left;
    padding: 10px 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 100px;
    padding-right: 20%;
}
@media(max-width: 770px){
    #features-nav{
        padding: 10px 10px;
    }
}
#features-nav .features-heading{
    font-size: 45px;
    font-weight: 700;
    font-family: inherit;
    padding: 20px 0px;
}


@media(max-width: 660px){
    #features-nav #liked-songs-gif{
        width: 100%;
        height: auto;
    }
}

#features-nav .features-inline-pics{
    padding: 10px;
}
@media(max-width: 660px){
    #features-nav .features-inline-pics{
        width: 100%;
        height: auto;
    }
}

#features-nav .fp-collapse-button{
    font-size: 15px;
    color: darkblue;
}


#dev-items.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 25px;
    padding-right: 0px;
    padding-left:0px;
}

@media only screen and (max-width: 992px) {
    /* For mobile phones: */
    #dev-items.container {
       /* display: grid;*/
       display: flex;
       flex-direction: column;
        grid-gap: 25px;
        padding-right: 0px;
        padding-left:0px;
    }
    #features-nav{
        margin-left: 10px;
    }
}